# 你要检查的“物理盘”设备（优先用 external, physical）
DEVICE="/dev/disk4"
# 如果是我的macbook的ssd，一般是disk0
#如果查外置硬盘，比如插在imac上的hdd，可能是disk4
# 最好用 disktuil list确认下

# 日志/报告保存位置（默认项目目录下）
LOG_DIR="$HOME/Ops/disk-health/logs"
REPORT_DIR="$HOME/Ops/disk-health/reports"

# 保存多少天的旧日志/报告（0 表示不清理）
RETENTION_DAYS=60

# smartctl 路径（留空则自动探测）
SMARTCTL=""
