html, body {
  line-height: 1.75;
  text-align: justify;
  word-break: break-word;
  -webkit-hyphens: none;
  hyphens: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC",
               "Source Han Sans SC", "Microsoft YaHei", serif;
  font-size: 1em;
  padding: 0 0.8em;
}

h1, h2, h3 {
  text-align: left;
  line-height: 1.3;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
}

p {
  margin: 0.6em 0;
}

hr {
  margin: 1.5em 0;
}
